body {
  background-color: black;
}

.master-container {
  display: flex;
  justify-content: space-between;
}

.middle-bg-container {
  display: flex;
  flex-direction: column;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titles {
  display: flex;
  flex-direction: column;
  text-align: center !important;
}

.subtitle {
  display: flex;
  flex-direction: column;
  text-align: center !important;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
h1 {
  font-family: 'Limelight', cursive;
  color: transparent;
  background-image: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
  );
  -webkit-background-clip:text;
  letter-spacing: 10px;
}

h2 {
  font-family: 'Limelight', cursive;
  color: transparent;
  padding: 10px;

  background-image: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
  );
  -webkit-background-clip:text;
  letter-spacing: 5px;
}

#text-one {
  font-family: 'Poiret One', cursive;
  text-align: center;
  color: transparent;
  padding: 10px;
  font-weight: 300;
  background-image: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 10%,
    #f6e27a 40%,
    #f6f2c0 50%,
    #f6e27a 60%,
    #cb9b51 90%,
    #462523 100%
  );
  -webkit-background-clip:text;
  letter-spacing: 5px;
}

#text-two {
  font-family: 'Poiret One', cursive;
  text-align: center;
  color: transparent;
  padding: 10px;
  font-weight: 300;
  background-image: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 10%,
    #f6e27a 40%,
    #f6f2c0 50%,
    #f6e27a 60%,
    #cb9b51 90%,
    #462523 100%
  );
  -webkit-background-clip:text;
  letter-spacing: 5px;
}

.socialm > li > a {
  font-size: 25px;
  color: transparent;
  text-align: center;
  padding: 10px;

  background-image: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
  );
  -webkit-background-clip:text;
  letter-spacing: 5px;
}

.socialm > li{
  display: inline;
  padding: 10px;
}

.socialm{
  text-align: center;
  padding: 0px;
}

.button {
  font-family: 'Poiret One', cursive;
  font-size: 30px;
  text-align: center;
  text-shadow:
    0 0 1px #ece1b2,
    0 0 7px #ceaa33,
    0 0 10px #ccab3e,
    0 0 21px #ccaf4e,
    0 0 42px #c4ad63,
    0 0 82px #c0ae74,
    0 0 92px #c2b485,
    0 0 102px #c0b590,
    0 0 151px #bdb6a0;
  color: transparent;
  padding: 10px;
  transition: 0.3s;
  background-image: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
  );
  -webkit-background-clip:text;
  letter-spacing: 5px;
}

.button:hover{
  color: #f1efe5;
}

.profile_pic {
  padding: 5px;
}

.left-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#top_left{
  z-index: -1;
}

#top_right{
  z-index: -1;
}

.right-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#bottom_left{
  z-index: -1;
}

#bottom_right{
  z-index: -1;
}

#separator {
  top: 50%;
}

#left_card{
  position: fixed;
  top: 30%;
  left: 5%;
  box-shadow:
    0 0 4px #f5f4f0,
    0 0 7px #ceaa33,
    0 0 10px #ccab3e,
    0 0 21px #ccaf4e,
    0 0 42px #c4ad63;
}

#right_card{
  position: fixed;
  top: 30%;
  right: 5%;
  box-shadow:
    0 0 4px #f5f4f0,
    0 0 7px #ceaa33,
    0 0 10px #ccab3e,
    0 0 21px #ccaf4e,
    0 0 42px #c4ad63;
}


.container {
  padding: 3px;
}
